body {
    margin: 0px;
    font-family: "함초롬바탕 확장", sans-serif;
}

header {
    background-color: #e3afed;
    color: black;
    margin: 0px;
    text-align: center;
    padding: 10px;
}

nav {
    display: table-cell;
    background-color: gold;
    padding: 15px;
}

section {
    display: table-cell;
    background-color: yellow;
    padding: 15px;
}

footer {
    clear: both;
    background-color: #954b4b;
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
    margin: 0px;
}